{% extends "base.html" %}
{% block title %}
    Добавление отзыва
{% endblock %}
{% block content %}


    <style type="text/css">
        .guestbook input[type=text], textarea {
            width: 90%;
        }

        .guestbook .textarea {
            height: 20px;
        }
        fieldset div {
            padding-bottom: 10px;
        }
    </style>
    <div class="text">
        <h3><a href="{% url guestbook_index %}">Отзывы</a> → Написать отзыв</h3>

        <div class="guestbook">


            <form method="post" action="" class="form-stacked">
                <fieldset>
                    {{ form.as_div }}
                    <input type="submit" value="Отправить" class="btn"/>
                </fieldset>

            </form>
        </div>

        <p>Ваш отзыв будет опубликован после проверки. Спасибо.</p>
    </div>
{% endblock %}