{% extends "base.html" %}

{% block content %}
    <style type="text/css">
        .registration input[type=text]{
            width: 80%;
        }
        .registration label{
            font-weight: normal;
        }
        .registration  .required label{
            font-weight: bold;
        }
        fieldset div {
            padding-bottom: 10px;
        }
        ul.errorlist{
            margin: 0;
            color: red;
            list-style: none;
            padding: 0;
        }
    </style>
    <div class="text">
        <h3 align="center">Регистрация на портале</h3>
        <form action="" method="POST" class="registration form-stacked">
            <fieldset>
                {{ form.as_div }}
                <input type="submit" value="Регистрация" class="btn">
            </fieldset>
        </form>
    </div>
{% endblock %}
