{% extends 'base.html' %}
{% block content %}

    <hr/>

    <h2><a href="{% url searcher_index %}?{{ search_url }}">результаты поиска</a>
        → {{ record.datafields.200.0.subfields.a.0 }}
    </h2>

    <hr/>

    <div class="item_title">
        <h3>{{  record.datafields.200.0.subfields.a.0 }}</h3>
    </div>

    {% if record.datafields.702.0.subfields.a.0 %}
        <div class="item_author">
            {{ search_result.record.datafields.702.0.subfields.a.0}}
        </div>
    {% endif %}

    {% if record.datafields.517.0.subfields.a.0 %}
        <div class="item_field">
            {{ record.517.a }}
        </div>
    {% endif %}


    {% if record.datafields.606 %}
        <div class="item_field">
            Рубрики:
            {% for field in record.datafields.606  %}
                {% for subfield in field.subfields.a %}
                    <a href="#">{{ subfield }}</a>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}





    <hr class="space"/>


    <script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
    <script type="text/javascript">
        $("#show_full_document").tooltip({'relative':true});
    </script>
{% endblock %}