{% extends "news/administration/news.html" %}
{% block module_action %}список новостей{% endblock %}
{% block module_page %}
    <div class="module_actions column prepend-1 last">
        <a href="{% url administration_news_create %}" class="button positive"><img
                src="/media/images/icons/plus_16.png"/>создать новость</a>
    </div>
    <hr/>
    <div class="module_actions column prepend-1 last">
            <a {% if type == 'public' %} style="text-decoration:underline;" {% endif %} href="{% url administration_news_by_type 'public' %}" class="button">
                Публичные новости
            </a>
            <a {% if type == 'professional' %} style="text-decoration:underline;" {% endif %} href="{% url administration_news_by_type 'professional' %}" class="button">
                Профессиональные новости
            </a>
    </div>
    <div class="table_container column span-19 prepend-1 last">


        <div class="table_title last">
            Список новостей
        </div>
        <table>
            <tr>
                <th>#</th>
                <th class="span-9">Название</th>
                <th>Опубликована</th>
                <th>Дата создания</th>
                <th class="span-4">Действия</th>
            </tr>
            {% for news in news_list.object_list %}
                <tr>
                    <td {% if news.special %}style="background: #fbd527" {% endif %}>{{ news.id }}</td>
                    <td >{{ news.title }}</td>
                    <td>
                        {% if news.published %}
                            <span style="color:green;">Да</span>
                        {% else %}
                            <span style="color:red;">Нет</span>
                        {% endif %}
                    </td>
                    <td>{{ news.pub_date|date:"d-M-Y H:i:s" }}</td>
                    <td>
                        <a title="Просмотр новости" class="button" href="{% url news_show news.id %}" target="_blank">
                            <img src="/media/images/icons/search_16.png" alt=""/>
                        </a>
                        <a title="Редактировать новость" class="button"
                           href="{% url administration_news_edit news.id %}">
                            <img src="/media/images/icons/pencil_16.png" alt=""/>
                        </a>
                        <a class="button negative delete" title="Удалить новость"
                           href="{% url administration_news_delete news.id %}">
                            <img src="/media/images/icons/delete_16.png" alt=""/>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if news_list.paginator.num_pages > 1 %}
        <div class="span-19 prepend-1 last">
            <div class="block">
                <div class="pagination">
                    <span class="step-links">
                        {% if news_list.has_previous %}
                            <a class="page" href="?page={{ news_list.previous_page_number }}">сюда</a>
                        {% endif %}
                        {% for page in news_list.paginator.page_range %}
                            {% if page %}
                                {% ifequal page news_list.number %}
                                    <span class="current page">{{ page }}</span>
                                {% else %}
                                    <a href="?page={{ page }}" class="page">{{ page }}</a>
                                {% endifequal %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                        {% if news_list.has_next %}
                            <a class="page" href="?page={{ news_list.next_page_number }}">туда</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    {% endif %}
    <hr class="space"/>
{% endblock %}