{% extends "reginlib/administration/base.html" %}
{% block title %}
    Список регистраций
{% endblock %}
{% block menu %}
    <h3>Обслуживаемые библиотеки</h3>
    <ul>
    {% for library in libraries %}
        <li style="line-height: 15px;padding-bottom: 10px;"><a href="{% url reginlib_checkout_by_library library.id  %}">{{ library.name }}</a>
{#        {% if library.num_new_userlibregistations > 0 %} ({{ library.num_new_userlibregistations }}) {% endif %}#}
          {% if library.get_new_count > 0 %} <span class="status2">({{ library.get_new_count }})</span> {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
{% block module_content %}
    <style type="text/css">
        .status0{
            color: red;
            font-weight: bold;
        }
        .status1{
            color: #ff7f50;
            font-weight: bold;
        }
        .status2{
            color: green;
            font-weight: bold;
        }
        .status3{
            color: #a52a2a;
            font-weight: bold;
        }
    </style>
    <ul style="list-style: none;  font-size: 16px">
    {% for registration in registrations.object_list %}
        <li style="padding-bottom: 10px;">
            {% include 'reginlib/administration/registration_rows_in_list.html' %}
            <a href="{% url reginlib_registration_detail registration.id %}" class="btn">подробнее</a>
        </li>
        <hr/>
    {% endfor %}
    </ul>
    <div>
        {% if registrations.paginator.num_pages > 1 %}
            <div class="span-19 prepend-1 last">
                <div class="block">
                    <div class="pagination">
                    <span class="step-links">
                        {% if registrations.has_previous %}
                            <a class="page" href="?page={{ registrations.previous_page_number }}">сюда</a>
                        {% endif %}
                        {% for page in registrations.paginator.page_range %}
                            {% if page %}
                                {% ifequal page registrations.number %}
                                    <span class="current page">{{ page }}</span>
                                {% else %}
                                    <a href="?page={{ page }}" class="page">{{ page }}</a>
                                {% endifequal %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                        {% if registrations.has_next %}
                            <a class="page" href="?page={{ registrations.next_page_number }}">туда</a>
                        {% endif %}
                    </span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}