{% extends "reginlib/administration/base.html" %}
{% block title %}
    Список регистраций
{% endblock %}
{% block menu %}
    <h3>Обслуживаемые библиотеки</h3>
    <ul>
    {% for library in libraries %}
        <li style="line-height: 15px;padding-bottom: 10px;"><a href="{% url reginlib_checkout_by_library library.id  %}">{{ library.name }}</a>
{#        {% if library.num_new_userlibregistations > 0 %} ({{ library.num_new_userlibregistations }}) {% endif %}#}
          {% if library.get_new_count > 0 %} <span class="status2">({{ library.get_new_count }})</span> {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
{% block module_content %}
    <style type="text/css">
        .status0{
            color: red;
            font-weight: bold;
        }
        .status1{
            color: #ff7f50;
            font-weight: bold;
        }
        .status2{
            color: green;
            font-weight: bold;
        }
        .status3{
            color: #a52a2a;
            font-weight: bold;
        }
    </style>
    <ul style="list-style: none;  font-size: 16px">
    {% for registration in registrations %}
        <li style="padding-bottom: 10px;">
            <b>Номер заявки</b>: {{ registration.id }} Статус: <span class="status{{ registration.status }}"> {{ registration.get_status_display }}</span><br/>
            <b>Библиотека</b>: <a href="#1">{{ registration.library.name }}</a><br/>
            <b>Пользователь</b>: <a href="#">{{ registration.user.username }}</a><br/>
            <b>Дата поступления заявки</b>: {{ registration.create_date }}<br/>
            <b>Дата запланированного визита</b>: {{ registration.visit_date }}<br/>
            <a href="{% url reginlib_registration_detail registration.id %}" class="btn">подробнее</a>
        </li>
        <hr/>
    {% endfor %}
    </ul>

{% endblock %}