/* ================================================================ 
            Файл скачан с сайта http://megaweb.su/
=================================================================== */
.contentIE6 { position:absolute; top:30px; left:30px; width:950px; padding:0; background:#FFF; border:2px #F00 solid; z-index:10; }
.contentIE6 a { color:#005987; }
.contentIE6 a:hover { text-decoration:none; }
.contentIE6 p { line-height:1.5em; margin:0 10px 1em 20px; text-indent:0; }
.contentIE6 h1, .contentIE6 h2 { font-size:24px; color:#F3801F; font-weight:normal; line-height:1.8em; margin:0 0 0.5em 20px; }
.contentIE6 h3 { font-size:18px; color:#F3801F; font-weight:normal; }
.contentIE6 .brows td a { font-size:17px; }
#td1, #td2, #td3 { width:239px; height:119px; vertical-align:top; padding:15px 30px 0 25px; }
#td1 { background:url(/media/images/ie6/td1.jpg) top no-repeat; }
#td2 { background:url(/media/images/ie6/td2.jpg) top no-repeat; }
#td3 { background:url(/media/images/ie6/td3.jpg) top no-repeat; }
