/** {
	border: 0px;
	padding: 0px;
}
body {
	font-family: Helvetica, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	background: white;
	text-align: center;
	background: url(../img/body.png) repeat-x;
}
body h1 {
	padding-top: 20px;
	font-size: 26px;
	color: #335;
}*/

