{% extends 'base.html' %}
{% block content %}
    {% load i18n %}
    {% get_language_info for LANGUAGE_CODE as lang %}
    {% trans "Current language" %}: {{ lang.name_local }}
    <form action="/core/i18n/setlang/" method="post">
        {% csrf_token %}
        {#<input name="next" type="hidden" value="/next/page/" />#}
        <select name="language">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == lang.code %}
                        selected="selected" {% endif %} >{{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input class="button button-blue" type="submit" value="{% trans "Change" %}"/>
    </form>
{% endblock %}