{% extends "zgate/administration/zcatalogs.html" %}
{% block module_action %}создание каталога для Арм Читателя{% endblock %}
{% block module_page %}
<div class="column span-19 prepend-1 last">
    <form id="dummy" action="" method="post">
        <fieldset>
            <div class="last">
                <label for="{{ form.title.auto_id }}">{{ form.title.label }}</label><br>
                {{ form.title }}
                {% if form.title.errors %}
                <div class="error">
                    {{ form.title.errors }}
                </div>
                {% endif %}
            </div>
            <hr class="space"/>
            <div class="last">
                <label for="{{ form.latin_title.auto_id }}">{{ form.latin_title.label }}</label><br>
                {{ form.latin_title }}
                {% if form.latin_title.errors %}
                    <div class="error">
                        {{ form.latin_title.errors }}
                    </div>
                {% endif %}
            </div>
            <hr class="space"/>
            <div class="last">
                <label for="{{ form.description.auto_id }}">{{ form.description.label }}</label><br>
                 {{ form.description }}
                {% if form.description.errors %}
                <div class="error">
                    {{ form.description.errors }}
                </div>
                {% endif %}
            </div>
            <hr class="space"/>
            <div class="last">
                <label for="{{ form.help.auto_id }}">{{ form.help.label }}</label><br>
                 {{ form.help }}<br>
                {% if form.help.errors %}
                <div class="error">
                    {{ form.help.errors }}
                </div>
                {% endif %}
            </div>
            <hr class="space"/>
            <div class="last">
                <label for="{{ form.default_lang.auto_id }}">{{ form.default_lang.label }}</label><br>
                 {{ form.default_lang }}
                {% if form.default_lang.errors %}
                <div class="error">
                    {{ form.default_lang.errors }}
                </div>
                {% endif %}
            </div>
            <hr class="space"/>
            <div class="last">
                <label for="{{ form.url.auto_id }}">{{ form.url.label }}</label><br>
                 {{ form.url }}
                {% if form.url.errors %}
                <div class="error">
                    {{ form.url.errors }}
                </div>
                {% endif %}
            </div>
            <hr class="space"/>
            <div class="last">
                <label for="{{ form.xml.auto_id }}">{{ form.xml.label }}</label><br>
                 {{ form.xml }}
                {% if form.xml.errors %}
                <div class="error">
                    {{ form.xml.errors }}
                </div>
                {% endif %}
            </div>
            <hr class="space"/>
            <div class="last">
                <label for="{{ form.xsl.auto_id }}">{{ form.xsl.label }}</label><br>
                 {{ form.xsl }}
                {% if form.xsl.errors %}
                <div class="error">
                    {{ form.xsl.errors }}
                </div>
                {% endif %}
            </div>
            <hr class="space"/>
            <div class="last">
                 {{ form.can_search }} <label for="{{ form.can_search.auto_id }}">{{ form.can_search.label }}</label>
                {% if form.can_search.errors %}
                <div class="error">
                    {{ form.can_search.errors }}
                </div>
                {% endif %}
            </div>
            <div class="last">

                 {{ form.can_user_auth }} <label for="{{ form.can_user_auth.auto_id }}">{{ form.can_user_auth.label }}</label>
                {% if form.can_user_auth.errors %}
                <div class="error">
                    {{ form.can_user_auth.errors }}
                </div>
                {% endif %}
            </div>
            <div class="last">

                 {{ form.can_order_auth_only }} <label for="{{ form.can_order_auth_only.auto_id }}">{{ form.can_order_auth_only.label }}</label>
                {% if form.can_order_auth_only.errors %}
                <div class="error">
                    {{ form.can_order_auth_only.errors }}
                </div>
                {% endif %}
            </div>
            <hr class="space"/>
            <fieldset>
                <div class="last">

                     {{ form.can_order_copy }} <label for="{{ form.can_order_copy.auto_id }}">{{ form.can_order_copy.label }}</label>
                    {% if form.can_order_copy.errors %}
                    <div class="error">
                        {{ form.can_order_copy.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="last">

                     {{ form.can_order_document }} <label for="{{ form.can_order_document.auto_id }}">{{ form.can_order_document.label }}</label>
                    {% if form.can_order_document.errors %}
                    <div class="error">
                        {{ form.can_order_document.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="last">

                     {{ form.can_reserve }} <label for="{{ form.can_reserve.auto_id }}">{{ form.can_reserve.label }}</label>
                    {% if form.can_reserve.errors %}
                    <div class="error">
                        {{ form.can_reserve.errors }}
                    </div>
                    {% endif %}
                </div>
            </fieldset>
            <div class="last">
                <label for="{{ form.view_catalog_groups.auto_id }}">{{ form.view_catalog_groups.label }}</label>
                {{ form.view_catalog_groups }}
                {% if form.view_catalog_groups.errors %}
                <div class="error">
                    {{ form.view_catalog_groups.errors }}
                </div>
                {% endif %}
            </div>
            <div class="last">
                <button type="submit" class="button positive" title="Создать каталог">
                    <img src="/media/images/icons/tick_16.png" alt=""/> Создать
                </button>
                <a class="button negative" title="Отменить создание каталога" href="{% url administration_zgate_index %}">
                    <img src="/media/images/icons/stop_16.png" alt=""/>Отменить
                </a>
            </div>
        </fieldset>
    </form>
</div>
<hr class="space"/>
    <script type="text/javascript" src="/media/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
        tinyMCE.init({
            // General options
            relative_urls : false,
            language : "ru",
            mode : "textareas",
            theme : "advanced",
            skin : "cirkuit",
            plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

            // Theme options
            theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontsizeselect",
            theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
            theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
            theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : true,

            // Example content CSS (should be your site CSS)
            content_css : "css/content.css",

            // Drop lists for link/image/media/template dialogs
            template_external_list_url : "lists/template_list.js",
            external_link_list_url : "lists/link_list.js",
            external_image_list_url : "lists/image_list.js",
            media_external_list_url : "lists/media_list.js",

            // Style formats
            style_formats : [
                {title : 'Bold text', inline : 'b'},
                {title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
                {title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
                {title : 'Example 1', inline : 'span', classes : 'example1'},
                {title : 'Example 2', inline : 'span', classes : 'example2'},
                {title : 'Table styles'},
                {title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
            ],

            // Replace values for the template plugin
            template_replace_values : {
                username : "Some User",
                staffid : "991234"
            }
        });
    </script>
    <!-- /TinyMCE -->
{% endblock %}