<ul style="list-style: none; height: 80px; padding: 0">
    {% for image in images %}
        <li style="float: left;padding: 4px; margin: 0 0 0px 7px;border: 1px solid #DDD;border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);">
            <a href="{% url gallery_view_slug collection.latin_title %}">
                <img  width="80" height="60" src="{{ thumbinails_dir }}{{ image.file_name }}" title="{{ image.title }}"
                     alt="{{ image.comments }}">
            </a
        </li>
    {% endfor %}
</ul>

