{#{% if news %}#}
{#    <div class="block white">#}
{#        <div class="headbg"></div>#}
{##}
{#        <div class="content">#}
{#            <div align="center" class="treeheader"><b>Объявление</b>#}
{#                <hr>#}
{#            </div>#}
{#            <div class="item">#}
{#                <b>{{ news.0.title }}</b><br/>#}
{#                {{ news.0.teaser }}#}
{#                <div class="detail"><a href="{% url news_show news.0.id %}">#}
{#                    подробнее</a></div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="footerbg"></div>#}
{#    </div>#}
{#{% endif %}#}

{% if news %}
<div class="block">
    <div class="right_module span-5">
        <div class="head">
            <h3 class="title">Объявление</h3>
        </div>
        <div class="midl">
            <div class="content news">

                    <div class="item">
                        {{ news.0.title }}
                        <div class="detail"><a href="{% url news_show news.0.id %}"><span class="date">{{ news.0.pub_date|date:"d M Y" }}</span>
                            подробнее</a></div>
                    </div>

            </div>
        </div>
        <div class="footer"></div>
    </div>
<hr class="space"/>
</div>
{% endif %}