{% load cache %}
{% load tree_menu_tags %}
{% load ldaccounts_tags %}
{% load events_tags %}
{% load news_tags %}
{% load polls_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {% block head %}{% endblock %}
    {#    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">#}
    <LINK rel="icon" href="http://favicon.ru/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description"
          content="Поиск по фонду всех общедоступных библиотек Санкт-Петербурга с возможностью заказа книг и журналов в любой библиотеке. Информирование о мероприятиях в библиотеках"/>
    <meta name="keywords"
          content="Санкт-Петербург Питер спб ло библиотека поиск книг журналов изданий литература справка заказ база данных электронные каталоги мероприятия в библиотеках библиотеки сайты библиотек адреса библиотек"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/bp/screen.css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/bp/plugins/fancy-type/screen.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/jquery.treeview.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic&subset=cyrillic,latin"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/karusel.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/jquery.ad-gallery.css">
    <link rel="stylesheet" type="text/css" href="/media/css/calendar.css">
    {#    <link rel="stylesheet" type="text/css" href="/media/css/jqmodal.css">#}
    <link rel="stylesheet" href="/media/css/jquery.fancybox.css" type="text/css" media="screen"/>

    <script type="text/javascript" src="/media/js/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/media/js/jquery.form.js"></script>
    <script type="text/javascript" src="/media/js/tree/jquery.treeview.js"></script>
    <script type="text/javascript" src="/media/js/jquery.jcarousel.min.js"></script>

    <script type='text/javascript' src='/media/js/jquery.tmpl.min.js'></script>
    <script type='text/javascript' src='/media/js/jquery.ad-gallery.js'></script>

    {#    <script type='text/javascript' src="/media/js/jqmodal.js"></script>#}
    <script type='text/javascript' src="/media/js/jquery.fancybox.pack.js"></script>
    {#    <script type="text/javascript" src="/media/iepngfix/iepngfix_tilebg.js"></script>#}
    <title>{% block title %}{% endblock %}</title>

    <script type="text/javascript">
        $(function () {
            $('#vote_form').bind('submit', function (e) {
                e.preventDefault(); // <-- important
                $(this).ajaxSubmit({
                    target:'#form_results'
                });
            });
            $("#main_menu").treeview({
                persist:"location",
                collapsed:false,
                unique:false,
                animated:"fast"
            });
            $("#internet_resources").treeview({
                persist:"location",
                collapsed:true,
                unique:true,
                animated:"fast"
            });
            $("#prof_menu").treeview({
                persist:"cookie",
                collapsed:false,
                unique:true,
                animated:"fast"
            });
            $('#username').blur(function () {
                if (this.value == '') {
                    this.value = 'логин';
                    this.style['color'] = '#999999';
                }
            });
            $('#username').focus(function () {
                this.value = '';
                this.style['color'] = '#000';

            });
            $('#password').blur(function () {
                if (this.value == '') {
                    this.value = 'пароль';
                    this.type = 'text';
                    this.style['color'] = '#999999';
                }
            });
            $('#password').focus(function () {
                this.value = '';
                this.style['color'] = '#000';
                this.type = 'password';
            });
        })

    </script>
</head>
<body>

<div class="container2 clearfix">
<div id="header" class=" column span-24 last">
    <div class="menu">
        <div class="menu_links">
            <ul>
                <li id="main"><a href="{% url site_index %}">Главная</a></li>
                <li id="news"><a href="{% url news_index %}">Новости</a></li>
                <li id="orgs"><a href="{% url participants_index  %}">Библиотеки</a></li>
                <li id="ksob"><a href="{% url pages_show_slug 'about_ksob' %}">КСОБ СПб</a></li>
                <li id="gallery"><a href="{% url gallery_index %}">Галерея</a></li>
                <li id="feedback"><a href="{% url guestbook_index %}">Отзывы</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="left_column column span-5">
    <div class="block white">
        <div class="headbg"></div>
        <div class="content">
            <div align="center" class="treeheader">Ресурсы библиотек
                <hr/>
            </div>

            {% cache 30 main_menu %}
                <div id="ksob_control">
                    {% show_menu "main_menu" "unordered-list" %}
                </div>
            {% endcache %}
        </div>
        <div class="footerbg"></div>
    </div>
    <div class="block white">
        <div class="headbg"></div>
        <div class="content">
            <div align="center" class="treeheader">Интернет ресурсы
                <hr/>
            </div>
            {% cache 30 internet_resources %}
                <div id="internet_resources">
                    {% show_menu "internet_resources" "unordered-list" %}
                </div>
            {% endcache %}
        </div>
        <div class="footerbg"></div>
    </div>

    {% if user|in_groups:'admin, professional' %}

        <div class="block white">
            <div class="headbg"></div>
            <div class="content">
                <div align="center" class="treeheader">Профессиональная страница
                    <hr/>
                </div>
                <div id="prof_menu">
                    {% cache 30 prof_menu %}
                        {% show_menu "prof_menu" "unordered-list" %}
                    {% endcache %}
                </div>

            </div>
            <div class="footerbg"></div>
        </div>
    {% endif %}
    {% if not user.is_authenticated %}
        <div class="block">
            <div class="headbg"></div>
            <div class="content" style="padding: 5px 10px 5px 7px">
                <a href="/pages/s/for_librarians">
                    <div align="center" style="width:100%;" class="awesome blue">
                        Библиотечным специалистам
                    </div>
                </a>
            </div>
            <div class="footerbg"></div>
        </div>
    {% endif %}

    <div class="block">
        <div class="headbg"></div>
        <div class="content" style="padding: 5px 10px 5px 7px">
            <a href="http://cdl.bpressa.ru/" target="_blank">
                <div align="center" style="width:100%; background: #fff" class="awesome">
                    <img src="/media/images/partners/bp.png" alt="">
                </div>
            </a>
        </div>
        <div class="footerbg"></div>
    </div>
</div>

<div class="center column span-14">
    {% block content %}{% endblock %}
</div>
<div class="right_column column span-5 last">
    <div class="block">
        {% if not user.is_authenticated %}
            <div id="auth">
                <div class="auth_form">
                    <div class="auth_title">Авторизация</div>
                    <form id="auth_login" action="{% url accounts_login %}" method="post">
                        {% csrf_token %}
                        <div class="input_field">
                            <input type="text" id="username" name="username" value="логин"/>
                        </div>
                        <div class="input_field">
                            <input type="text" id="password" name="password" value="пароль"/>
                        </div>
                        <input align="center" type="submit" value="Войти" class="login_button"/>
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next|escape }}"/>
                        {% else %}
                            <input type="hidden" name="next" value="{% url orders_index %}"/>
                        {% endif %}
                    </form>
                    <a href="{% url ldaccounts_registration %}">Регистрация</a> <br/>
                    <a href="{% url ldaccounts_remember_password %}">Забыли пароль?</a>

                </div>
            </div>
        {% else %}
            <div id="auth">
                <div class="auth_form">
                    <div class="auth_title">Личный кабинет</div>
                    <span style="color:#f2f1f1;">Вы вошли как {{ user.username }}</span><br/> <a
                        href="{% url accounts_logout %}">(Выйти)</a>
                </div>
                <hr style="margin:0 10px 0 10px;width:170px;"/>
                <div class='personal_menu'>
                    <a style="color:#fff;" href="{% url orders_index %}">Мои заказы</a><br/>
                    <a style="color:#fff;" href="{% url events_favorits %}">Мероприятия</a><br/>
                    <a style="color:#fff;" href="{% url zgate_saved_requests %}">Мои запросы</a><br/>
                    <a style="color:#fff;" href="{% url zgate_saved_document_list %}">Мои документы</a><br/>
                </div>

            </div>

        {% endif %}
    </div>

    <div class="block" style="padding: 0 10px 0 7px">
        <div class="headbg"></div>
        <div class="content">
            <a href="http://vhd.ruslan.ru/">
                <div align="center" class="awesome blue">Виртуальная справка</div>
            </a>
            {% if user|in_groups:'admin, professional' %}
                <a href="/professional/">
                    <div align="center" class="awesome blue"><b>Профессиональная</b><br/><b>страница</b>
                    </div>
                </a>
                {#                    <a href="#1">#}
                {#                        <div align="center" style="width:100%;" class="awesome blue">Регистр библиотек<br/>Санкт-Петербурга#}
                {#                        </div>#}
                {#                    </a>#}
                <a href="/zgate/s/method/">
                    <div align="center" class="awesome blue">Методическая копилка</div>
                </a>
                <a href="http://ill.ksob.spb.ru">
                    <div align="center" class="awesome blue">АРМ МБА-ЭДД</div>
                </a>
                <a href="http://forum.ksob.spb.ru">
                    <div align="center" class="awesome blue">Форум</div>
                </a>
            {% endif %}
        </div>
        <div class="footerbg"></div>
    </div>

    {#    <div class="block" style="padding: 0 10px 0 7px">#}
    {#        <div class="headbg"></div>#}
    {#        <div class="content">#}
    {#            <a href="{% url reginlib_registation %}">#}
    {#                <div align="center" class="awesome orange"><b>Запись в библиотеку</b></div>#}
    {#            </a>#}
    {#        </div>#}
    {#        <div class="footerbg"></div>#}
    {#    </div>#}

    <div class="block">

        {% event_calendar %}
    </div>
    {% cache 30 news_feed %}
        <div class="block">

            {% news_feed %}
        </div>
    {% endcache %}
    <div class="block">
        {% poll_form %}
    </div>

</div>
<div class="footer column span-24 last" style="height:93px;">
    <div class="column span-13"> .</div>
    <div class="column span-11 last" style="height:93px; margin-top: 30px;">
        <style>
            ul.footer_menu {
                list-style: none;
                margin-left: 30px;
            }

            ul.footer_menu li {
                float: left;
            }

            ul.footer_menu li a {
                text-decoration: underline;
                color: #f5f6ff;
                padding: 0 5px 0 0;
            }
        </style>
        <ul class="footer_menu">
            <li><a href="{% url site_index %}">Главная</a></li>
            <li><a href="{% url news_index %}">Новости</a></li>
            <li><a href="{% url participants_index  %}">Библиотеки</a></li>
            <li><a href="{% url pages_show_slug 'about_ksob' %}">КСОБ СПб</a></li>
            <li><a href="{% url gallery_index %}">Галерея</a></li>
            <li><a href="{% url guestbook_index %}">Отзывы</a></li>
        </ul>
        <div>
            <ul class="footer_menu">
                <li><a href="{% url pages_show_slug 'Spravka' %}">Справка</a></li>
                <li><a href="{% url pages_show_slug 'kontaktnaya' %}">Контактная информация</a></li>
            </ul>
        </div>
        <div style="color:white;" class="clear">© Корпоративная сеть общедоступных библиотек Санкт-Петербурга</div>
    </div>
</div>
</div>
<style>
    #helper{
        position: fixed; /* Абсолютное позиционирование */
        bottom: 10px; /* Положение от нижнего края */
        right: 10px; /* Положение от правого края */
        width: 230px;
        background: #B2B2B2;

    }

    .show_helper{
        position: fixed;
        bottom: 10px;

    }

    #helper .content{
        background: #fff;
        padding: 5px;

    }

    #helper .content #answer{
        font-size: 14px;
    }

    #helper .closer{
        position: absolute;
        background: #003f81;
        /*top: 10px;*/
        right: 10px;
    }

    #helper #ask_form{
        margin: 0;
        padding: 0;
    }

    #helper .content{
        float: left;
        width: 200px;
    }

    .closer a{
        color: white;
    }

    #helper .hider{
        background: green;
        float: left;
        width: 20px;
        height: 100px;
        cursor: pointer;
    }

    .rot-neg-90 {
        /* rotate -90 deg, not sure if a negative number is supported so I used 270 */
        -moz-transform: rotate(270deg);
        -moz-transform-origin: 50% 50%;
        -webkit-transform: rotate(270deg);
        -webkit-transform-origin: 50% 50%;
        /* IE support too convoluted for the time I've got on my hands... */
    }

</style>

<div id="helper">
    <div class="hider"></div>
    <div class="content">
        <div id="answer">
            Привет! :-)
        </div>
        <form id="ask_form">
            <input type="text" style="width: 95%" id="question"/>
            <input type="submit" class="btn" id="ask_button" value="Сказать"/>
        </form>
    </div>

</div>
{#<div class="show_helper">#}
{#    <div class="show"><a href="#show">Показать</a></div>#}
{#</div>#}

<script type="text/javascript" src="http://yandex.st/jquery/cookie/1.0/jquery.cookie.min.js"></script>
<script type="text/javascript">

    function show_helper(){

        $('#helper').css('right', 10);
    }

    function hide_helper(){

        $('#helper').css('right', -210);
    }

    $('#ask_form').submit(function(){
        $.ajax({
            url:'{% url helper_index %}',
            type:'POST',
            dataType:"json",
            async:false,
            data:{ask:$('#question').val()},
            success:function (answer) {
                $('#answer').html(answer['answer']);
                $('#question').val('');

            }
        });
        return false;
    });

    $('.hider').click(function(){
        var helper_box = $.cookie('helper_box');
        if (helper_box == 'hide'){
            $.cookie('helper_box', 'show', { expires: 7, path: '/' });
            show_helper();
        }
        else{
            $.cookie('helper_box', 'hide', { expires: 7, path: '/' });
            hide_helper();
        }
    });


    var helper_box = $.cookie('helper_box');
    if (helper_box == 'show'){
        show_helper();
    }
    else{
        hide_helper();
    }

</script>
<!--<div class="sun"></div>-->
<!--</div>-->
<div class="container2 shadow"></div>

<!-- Yandex.Metrika counter -->
<div style="display:none;">
    <script type="text/javascript">
        (function (w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter6806275 = new Ya.Metrika({id:6806275, enableAll:true, webvisor:true});
                }
                catch (e) {
                }
            });
        })(window, "yandex_metrika_callbacks");
    </script>
</div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/6806275" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17222325-2']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>

