{% extends "base.html" %}

{% load adminmedia %}

{% block head %}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/admin/js/core.js"></script>
    <script type="text/javascript" src="/media/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/media/admin/js/admin/DateTimeShortcuts.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>
    <script type="text/javascript">
        window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
    </script>
{% endblock %}
{% block title %}
    Электронное продление
{% endblock %}

{% block content %}
<div class="text">
    <p>
        Ваша заявка на продление принята.
        Посмотреть состояни можно <a href="{% url prolongation_prolongation_user_detail prolongation.id %}">здесь</a>.
    </p>
</div>
{% endblock %}