{% extends "administration_base.html" %}
{% block module_content %}
<link rel="stylesheet" type="text/css" href="/media/css/jquery.fancybox.css"/>
<script type='text/javascript' src='/media/js/jquery.fancybox.js'></script>

    <h2 class="alt module_title prepend-1"><a href="{% url administration_gallery_index %}">Галлерея:</a> <span class="alt module_action">{% block module_action %}{% endblock %} </span></h2>
    <div class="module_content column last">
        {% block module_page %}{% endblock %}
    </div>
<hr class="space"/>

<script type="text/javascript">
$("a.delete").click(function(){
    if(!confirm('Вы уверены что хотите удалить?')) return false;
});
</script>
 <script type="text/javascript">
     $("a.tumbs").fancybox({
                     'overlayColor'		: '#000',
                     'overlayOpacity'	: 0.9
                 });

  </script>
{% endblock %}