{% extends "pages/administration/pages.html" %}
{% block module_action %}список страниц{% endblock %}
{% block module_page %}
    <div class="module_actions column prepend-1 last">
    <a href="{% url administration_pages_create %}" class="button positive"><img src="/media/images/icons/plus_16.png"/>создать новую страницу</a>
    </div>
    <hr/>
    <div class="table_container column span-19 prepend-1 last">
        <div class="table_title last">
            Список страниц
        </div>
        <table>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Лат. название</th>
                <th class="span-3">Дата создания</th>
                <th class="span-4">Действия</th>
            </tr>
            {% for page in pages_list.object_list %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.latin_title }}</td>
                <td>{{ page.create_date|date:"d-M-Y H:i" }}</td>
                <td>
                    <a  title="Просмотр страницы"  class="button" href="{% url pages_show_slug page.latin_title %}" target="_blank">
                        <img src="/media/images/icons/search_16.png" alt=""/>
                    </a>
                    <a title="Редактировать страницу" class="button" href="{% url administration_pages_edit page.id %}">
                        <img src="/media/images/icons/pencil_16.png" alt=""/>
                    </a>
                    <a class="button negative delete" title="Удалить страницу" href="{% url administration_pages_delete page.id %}">
                        <img src="/media/images/icons/delete_16.png" alt=""/>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% if pages_list.paginator.num_pages > 1 %}
    <div class="span-19 prepend-1 last">
        <div class="block">
            <div class="pagination">
                <span class="step-links">
                    {% if pages_list.has_previous %}
                        <a class="page" href="?page={{ pages_list.previous_page_number }}">сюда</a>
                    {% endif %}
                    {% for page in pages_list.paginator.page_range %}
                        {% if page %}
                            {% ifequal page pages_list.number %}
                                <span class="current page">{{ page }}</span>
                            {% else %}
                                <a href="?page={{ page }}" class="page">{{ page }}</a>
                            {% endifequal %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                    {% if pages_list.has_next %}
                        <a class="page" href="?page={{ pages_list.next_page_number }}">туда</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    {% endif %}
    <hr class="space"/>
{% endblock %}