
<div class="right_module span-5">
    <div class="head">
        <h3 class="title"><a href="{% url events_index %}">События</a></h3>
    </div>
    <div class="midl">
        <div class="content event_calendar">
            <form name="event_calendar_filter" action="" method="POST">
                {{ form.month }}
                {{ form.year }}
            </form>
            <hr style="margin:0"/>

            <table cellspacing="0">
                <thead>
                <tr>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                    <th>Сб</th>
                    <th>ВС</th>
                </tr>
                </thead>
                <tbody>
                
                {% for week in calendar %}
                    <tr>{% for day in week %}
                        {% if day.day != 0 %}
                            {% if day.today and not day.events %}
                                <td class="today">
                            {% endif %}
                            {% if day.events %}
                                <td class="">
                            {% endif %}
                            {% if not day.today and not day.events %}
                                <td>
                            {% endif %}

                            {% if  day.events %}
                                <a class='awesome blue' href="{% url events_by_date  year month day.day %}" title="Показать события дня"> {{ day.day }}</a>
                            {% else %}
                                {{ day.day }}
                            {% endif %}
                        {% else %}

                            <td class="padding">
                        {% endif %}
                    </td>
                        {% if day.today %}
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
               
                </tbody>
            </table>
            <h3>Поиск по событиям</h3>
            <form action="{% url events_search %}" method="GET" style="margin: 0">
                <select name="attr" style="width: 95%">
                    <option value="any_t_ru" {% if request.GET.attr == "any_t_ru" %}selected="selected"{% endif %}>Везде</option>
                    <option value="event_name_t_ru" {% if request.GET.attr == "event_name_t_ru" %}selected="selected"{% endif %}>Название</option>
                    <option value="address_t_ru" {% if request.GET.attr == "address_t_ru" %}selected="selected"{% endif %}>Место проведения</option>
                </select>
                <input type="text" name="term" {% if request.GET.term %} value="{{ request.GET.term }}" {% endif %}>
                <input type="submit" value="искать" class="btn">
            </form>
        </div>
    </div>
    <div class="footer"></div>

</div>



