{% extends "base.html" %}
{% block title %}
    {{ cbs_name }}
{% endblock %}
{% block content %}
    <style type="text/css">
        div.infowindow {
            /*max-height: 250px;*/
            overflow-y: auto;
        }
    ul.org_list  li{
        margin-bottom: 10px;
        line-height:1.2;
    }
    </style>
    <div class="text">
        <h3><a href="{% url participants_index %}">Библиотеки</a> → {{ cbs_name }}</h3>
        <ul class="org_list">
            {% for ldap_org in  ldap_orgs %}
                <li><a href="{% url participants_detail ldap_org.code %}">{{ ldap_org.title }}</a><br/>
                    Адрес: {{ ldap_org.address }}<br/>
                    Часы работы: {{ ldap_org.plans }}<br/>
                    Телефон: {{ ldap_org.phone }} <br/>
                    {% if  ldap_org.http_service %}
                    Сайт: <a href="{{ ldap_org.http_service }}">{{ ldap_org.http_service }}</a></li>
                    {% else %}
                    Cайт: не указан</li>
                    {% endif %}
            {% empty %}
                Нет организаций
            {% endfor %}
        </ul>
        <div id="map_canvas" style="width: 100%; height: 550px"></div>
    </div>

    {% include 'participants/map_js.html' %}
{% endblock %}
